.button-checked:after {
  position: absolute;
  display: block;
  overflow: visible;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
  inset: -5px;
  transition: 0.2s ease-in;
  background: repeating-linear-gradient(
    -55deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
  );
}

.button-checked:hover:after {
  inset: -10px;
  background-position: 20px 20px;
}
